// Define variables for your color scheme

// For example:
$red: #ff6062;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #212529;
$light-gray: #F4F4F4;


$olive: #9C9F84;
$brown: #A97D5D;
$sand: #F7CDB4;
$dark-olive: #5E755E;
