.dashboard-banner {
  height:200px;
  background-image: url("dashboard.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin-bottom: 2%;
  a {
    text-decoration: none;
    color:white;
  }
}

.dashboard-banner h1 {
  padding: 1.5%;
  color: #F7CDB4;
}

.dashboard-container{
  width: 80%;
  margin: auto
}
