// Import page-specific CSS files here.
@import "home";
@import "show";
@import "login";
@import "dashboard";

.cards-container-custom {
  margin: 0 auto;
  width:100;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 32px;
  align-items: center;
  justify-items: center;
}


.header-custom {
  height:400px;
  background-image: url("test.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 2%;
  a {
    text-decoration: none;
    color:white;
  }
}

.logo-brand-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 60%;
  gap:15px;
}

.header-custom h1 {
  color: $light-gray;
  font-size:10vh;
}
.svg-cust {
  width: 12vh;
}

.header-custom a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  color:$gray;
  height:min-content;
  width:20%;
}
.header-custom a:hover {
  color: $light-gray;
  background-color: $gray;
  border: 1px solid $gray;
}

.banner-button-cust {
  margin-left: 10%;
}
