// Import page-specific CSS files here.
@import "home";
@import "show";
@import "login";
@import "dashboard";
@import "form";

.cards-container-custom {
  margin: 0 auto;
  width:100;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 32px;
  align-items: center;
  justify-items: center;
}


.head-banner-custom {
  height:400px;
  background-image: url("test.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  color: white;
  margin-bottom: 2%;
  a {
    text-decoration: none;
    color:white;
  }
}

.logo-brand-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 50%;
  gap:15px;
}

.head-banner-custom h1 {
  color: $light-gray;
  font-size:10vh;
}

.banner-button-cust {
  position: absolute;
  width: min-content;
  height: 12vh;
  left: 150px;
  top: 400px;
  z-index:1000;
}

.svg-cust {
  width: 14vh;
  box-sizing: border-box;
  position: absolute;
  right: 50px;
  top: 375px;
  z-index:1000;
}

.head-banner-custom a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  color:$gray;
  height:min-content;
  width:20%;
}
.head-banner-custom a:hover {
  color: $light-gray;
  background-color: $gray;
  border: 1px solid $gray;
}
