.c-container {
  border-radius: 10px;
  overflow: hidden;
  color:$light-gray;
  a {
    color: $light-gray;
  }
  box-shadow: 10px 8px 4px $black;
  border:none;
}

.card-img-cust {
  object-fit: cover;
  object-position: center;
  height:20vh;
}
