
@keyframes flash {
  from {background-color: transparent;}
  to {background-color: orange;}
}
.arrow-icon-cust {
  border-radius: 10px;
}
.arrow-icon-cust:hover {
  background-color:black;
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: 15;
}
