.c-container {
  background-color: $light-gray;
  border-radius: 10px;
  overflow: hidden;
  color:$dark-olive;
  a {
    color: $dark-olive;
  }
}

.cards-container-custom {
  display: grid;
  width:100vh;
  grid-template-columns:1fr 1fr;
  grid-gap: 16px;
  margin:auto;
}
