.navbar-cust {
  color:white;
  a {
    color:white;
  }
}

.navbar-container {
  display:inline-block;

}
.nav-item-cust {
  color: white;

}

.navbar-cust .navbar-collapse {
  flex-grow: 0;
}

.navbar-cust .navbar-brand img {
  width: 60px;
}

.navbar-icon {

}
