.navbar-cust {
  color:$sand;
  a {
    color:white;
  }
  position: sticky;
  top:0;
  z-index: 1000;
}

.navbar-container {
  display:inline-block;

}
.nav-item-cust {
  color: white;

}

.navbar-cust .navbar-collapse {
  flex-grow: 0;
}

.navbar-cust .navbar-brand img {
  width: 60px;
}
