.show-banner {
  width: 100vw;
  height: 60vh;
  // overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.banner-img-cust {
  object-fit: cover;
  object-position: center;
  height:60vh;
}
